// 
// _table.scss
// 


.table {
    th {
        font-weight: $table-th-font-weight;
    }

    .table-light {
        color: $body-color;
        border-color: $table-border-color;
        background-color: $table-head-bg;
    }
}


.table-nowrap {
    th,
    td {
        white-space: nowrap;
    }
}