<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <script>document.write(new Date().getFullYear())</script> &copy; Dashonic.
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    Crafted with <i class="mdi mdi-heart text-danger"></i> by <a href="https://Pichforest.com/" target="_blank" class="text-reset">Pichforest</a>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="buy-now d-flex gap-2">
    <a href="https://pichforest.com/item/samply-free-admin-dashboard-template/1025" target="_blank" class="btn btn-danger btn-lg"><i class="mdi mdi-download ms-1"></i> Free Download </a>
    <a href="https://pichforest.com/item/dashonic-bootstrap-5-admin-dashboard-template/1007" target="_blank" class="btn btn-primary btn-lg"><i class="mdi mdi-cart ms-1"></i> Get Premium </a>
</div>