// 
// authentication.scss
//


// authentication home icon
.home-btn {
    position: fixed;
    top: 15px;
    right: 25px;
}

.authentication-bg{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $light;
    display: flex;
    align-items: center;
    justify-content: center;

    .auth-logo{
        .logo{
            margin: 0px auto;
        }

        .auth-logo-light{
            display: none;
            margin: 0px auto;
        }

        .auth-logo-dark{
            margin: 0px auto;
        }
    }

    .bg-overlay{
        opacity: 0.8;
    }
}
.form-floating-custom{
    position: relative;
    >label{
        left: 48px;
    }
    >.form-control, >.form-select{
        padding-left: 60px;
    }
    .form-floating-icon{
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        width: 56px;
        color: $text-muted;
    }
}